<div class="jumbotron center">
<div class="container">

	<h1>Welcome to my App</h1>
	
	<p><%= link_to "Sign up", "#", class: "btn btn-primary btn-lg"%>
                     <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg"%>


	</p>

</div>
</div>